@import './main.css';
@import './game.css';
@import './gametile.css';
@import 'modal.css';
@import 'resetbutton.css';
@import 'header.css';
@import 'footer.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-bg-color: hsl(0, 0%, 100%);
  --primary-color: hsl(0, 0%, 0%);
  --primary-accent-color: hsl(350, 82%, 57%);
  --secondary-accent-color: hsl(165, 77%, 35%);
  --unclicked-color: hsl(0, 0%, 83%);
  --border-properties: 5px solid var(--primary-color);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-bg-color);
}